<% include_wysiwyg %>
<%= render "menu" %><br />
		Tytuł wiadomości:<br />
		<% form_tag({:action => "newscreate"}) do %>
		  <div class="field">
		    <%= text_field "title", :title %>
		  </div>
		  Treść:<br />
		  <div class="field">
		  <%= text_area "content", :content, :rows => 10, :class => "mceEditor" %>
		  </div>
		  <div class="actions">
		    <%= submit_tag "Akceptuj" %>
		  </div>
		<% end %>
