<center>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-right: 20px;">
	<span style="font:19px 'Times New Roman'; color: #5c3b1d; margin-top -10px;">GALERIA</span>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-left: 20px;">
<br /><br />

<a href="/images/gallery/foto1.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto1_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto2.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto2_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto3.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto3_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto4.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto4_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto5.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto5_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto6.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto6_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto7.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto7_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto8.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto8_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto9.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto9_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto10.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto10_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto11.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto11_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto12.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto12_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto13.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto13_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto14.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto14_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto15.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto15_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto16.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto16_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto17.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto17_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto18.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto18_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto19.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto19_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto20.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto20_mini.jpg" class="gallery"></a>
<a href="/images/gallery/foto21.jpg" rel="lightbox[grupa1]" title="Kawiarnia spartańska" class="gallerylink"><img src="/images/gallery/foto21_mini.jpg" class="gallery"></a>
</center>
