<center><span style="font:24pt 'Times New Roman'; color: #5c3b1d;">O nas</span></center>

<p>Od 20 lat zajmujemy się organizacją wesel oraz innych imprez okolicznościowych.</p>
<p>Dodatkowo organizujemy: , imprezy zakładowe, komunie, studniówki, zabawy sylwestrowe i andrzejkowe, stypy oraz jubileusze. Zdobyliśmy bogate doświadczenie i chcemy się nim dzielić z innymi.</p>
<p>Każdego klienta traktujemy indywidualnie i wraz z nim staramy się dobrać usługi najbardziej mu odpowiadające. Zależy nam na tym, by zapewnić Państwu usługi na najwyższym poziomie.</p>
<p>Nasze menu zawiera starannie wyselekcjonowane pozycje czerpiące z najlepszych tradycji kuchni polskiej oraz wykwintne dania inspirowane najnowszymi trendami kuchni światowej. Naszym priorytetem jest, aby każda 
z potraw spełniała najwyższe standardy restauracyjnej zarówno pod względem smaku, jak i estetyki. Dlatego nasze posiłki podajemy na eleganckiej zastawie stołowej, która subtelnie podkreśli rangę  każdego spotkania, nie ważne czy jest to służbowy obiad, czy też kolacja w gronie najbliższych przyjaciół. Kawiarnia Spartańska oferuje Państwu dobrą zabawę oraz profesjonalną obsługę. Do zleconych nam kwestii zawsze podchodzimy poważnie, z największą troską, a każdego z klientów traktujemy indywidualnie.  Zadowolenie oraz dobra zabawa i niezapomniane wspomnienia naszych gości są dla nas najważniejsze. Dodatkowym naszym atutem są konkurencyjne ceny.</p>


<center><span style="font:24pt 'Times New Roman'; color: #5c3b1d;">OFERTA</span></center>

<p>Restauracja Spartańska oferuje Państwu organizację przyjęć okolicznościowych, służymy bogatym menu oraz fachową obsługą imprezy.</p>

<ul>
<li>wesela
<li>komunie
<li>studniówki
<li>bankiety
<li>jubileusze
<li>spotkania biznesowe
<li>inne
</ul>
