<center>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-right: 20px;">
	<span style="font:19px 'Georgia'; color: #5c3b1d; margin-top -10px;">O NAS</span>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-left: 20px;">
</center>

<p>Od 20 lat zajmujemy się organizacją wesel oraz innych imprez okolicznościowych.</p>
<p>Dodatkowo organizujemy: , imprezy zakładowe, komunie, studniówki, zabawy sylwestrowe i andrzejkowe, stypy oraz jubileusze. Zdobyliśmy bogate doświadczenie i chcemy się nim dzielić z innymi.</p>
<p>Każdego klienta traktujemy indywidualnie i wraz z nim staramy się dobrać usługi najbardziej mu odpowiadające. Zależy nam na tym, by zapewnić Państwu usługi na najwyższym poziomie.</p>
<p>Nasze menu zawiera starannie wyselekcjonowane pozycje czerpiące z najlepszych tradycji kuchni polskiej oraz wykwintne dania inspirowane najnowszymi trendami kuchni światowej. Naszym priorytetem jest, aby każda 
z potraw spełniała najwyższe standardy restauracyjnej zarówno pod względem smaku, jak i estetyki. Dlatego nasze posiłki podajemy na eleganckiej zastawie stołowej, która subtelnie podkreśli rangę  każdego spotkania, nie ważne czy jest to służbowy obiad, czy też kolacja w gronie najbliższych przyjaciół. Kawiarnia Spartańska oferuje Państwu dobrą zabawę oraz profesjonalną obsługę. Do zleconych nam kwestii zawsze podchodzimy poważnie, z największą troską, a każdego z klientów traktujemy indywidualnie.  Zadowolenie oraz dobra zabawa i niezapomniane wspomnienia naszych gości są dla nas najważniejsze. Dodatkowym naszym atutem są konkurencyjne ceny.</p>
<br />

<center>
<img src="/images/Extra/Break_header.png" alt="" style="padding-right: 20px;">
<span style="font:19px 'Georgia'; color: #5c3b1d;">OFERTA</span>
<img src="/images/Extra/Break_header.png" alt="" style="padding-left: 20px;">
</center>

<p>Restauracja Spartańska oferuje Państwu organizację przyjęć okolicznościowych, służymy bogatym menu oraz fachową obsługą imprezy.</p>

<ul>
<li>wesela
<li>komunie
<li>studniówki
<li>bankiety
<li>jubileusze
<li>spotkania biznesowe
<li>inne
</ul>
<br />

<center>
<img src="/images/Extra/Break_header.png" alt="" style="padding-right: 20px;">
<span style="font:19px 'Georgia'; color: #5c3b1d;">WIRTUALNA WYCIECZKA</span>
<img src="/images/Extra/Break_header.png" alt="" style="padding-left: 20px;">
</center>
<p>Aby zachęcić państwa do skorzystania z naszych usług proponujemy udać się na wirtualną wycieczkę, w ramach której można zwiedzić także naszą restaurację. Wycieczka dostępna jest pod poniższym linkiem:<br /><br />
<center><a href="http://www.mosir.rybnik.pl/wirtualny_spacer/wycieczkahalasportowa.html">Wirtualna wycieczka</a></center><br />
