<center>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-right: 20px;">
	<span style="font:19px 'Georgia'; color: #5c3b1d; margin-top -10px;">KONTAKT</span>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-left: 20px;">
</center>
<br /><br />

<span style="font: 'Georgia';">
<b>Adres:</b><br />
Kawiarnia Spartańska<br />
Ul. Jastrzębska 12<br />
44-253 rybnik<br /><br />

<b>Telefony:</b><br />
696 503 593<br />
660 572 279<br /><br />

<b>Mapka:</b>
</span>
<br /><br />

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=jastrz%C4%99bska+12+Rybnik&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=8.670275,19.555664&amp;ie=UTF8&amp;hq=&amp;hnear=Jastrz%C4%99bska+12,+Rybnik,+%C5%9Bl%C4%85skie&amp;ll=50.055596,18.590069&amp;spn=0.037859,0.076389&amp;z=14&amp;iwloc=r15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=jastrz%C4%99bska+12+Rybnik&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=8.670275,19.555664&amp;ie=UTF8&amp;hq=&amp;hnear=Jastrz%C4%99bska+12,+Rybnik,+%C5%9Bl%C4%85skie&amp;ll=50.055596,18.590069&amp;spn=0.037859,0.076389&amp;z=14&amp;iwloc=r15" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>

