<center><span style="font:24pt 'Times New Roman'; color: #5c3b1d;">Wydarzenia</span></center><br />
<% unless @posts.empty? %>
	<% @posts.each do |post| %>
			<center>
			<%= image_tag("/images/Extra/breakline_main.png") %>
			<h2><%= post.title.force_encoding("UTF-8") %></h2>
			</center>
			<%= raw(post.content.force_encoding("UTF-8")) %>
	<% end %>
<% else %>
  	<div class="notice">Brak wpisów.</div>
<% end %>