<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Kawiarnia Spartanska</title>
<meta charset="UTF-8">
<script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/javascripts/prototype.js"></script>
<script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox.js"></script>
<%= include_tiny_mce_if_needed %>

<link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />
<style type="text/css">
 a { text-decoration: none; font-size: 12px;}
 a:hover {text-decoration: none; background-color: black; color: #FFFFFF;}
 a img{ border: 0;}
 p {font:14px 'Georgia I'; color: #5c3b1d;}
 li {font:14px 'Georgia I'; color: #5c3b1d;}
 h2 {color: #462e18;}
 body {font-size: 12px; margin-top: 40px;}
 .gallery {margin: 5px;}
 .boxbackground {background-color: #f4e9d5;}
 </style>

<style type="text/css">
<!--
#sponsorAdDiv {position:absolute; height:1; width:1px; top:0; left:0;}
-->
</style>

<script type="text/javascript">

/******************************************
* DHTML Ad Box (By Matt Gabbert at http://www.nolag.com)
* Visit http://www.dynamicdrive.com/ for full script
* This notice must stay intact for use
******************************************/

adTime=10;  // seconds ad reminder is shown
chanceAd=1; // ad will be shown 1 in X times (put 1 for everytime)

var ns=(document.layers);
var ie=(document.all);
var w3=(document.getElementById && !ie);
var calunit=ns? "" : "px"
adCount=0;
function initAd(){
	if(!ns && !ie && !w3) return;
	if(ie)		adDiv=eval('document.all.sponsorAdDiv.style');
	else if(ns)	adDiv=eval('document.layers["sponsorAdDiv"]');
	else if(w3)	adDiv=eval('document.getElementById("sponsorAdDiv").style');
	randAd=Math.ceil(Math.random()*chanceAd);
        if (ie||w3)
        adDiv.visibility="visible";
        else
        adDiv.visibility ="show";
	if(randAd==1) showAd();
}
function showAd(){
if(adCount<adTime*10){adCount+=1;
	if (ie){documentWidth  =truebody().offsetWidth/2+truebody().scrollLeft-20;
	documentHeight =truebody().offsetHeight/2+truebody().scrollTop-20;}	
	else if (ns){documentWidth=window.innerWidth/2+window.pageXOffset-20;
	documentHeight=window.innerHeight/2+window.pageYOffset-20;} 
	else if (w3){documentWidth=self.innerWidth/2+window.pageXOffset-20;
	documentHeight=self.innerHeight/2+window.pageYOffset-20;} 
	adDiv.left=documentWidth-200+calunit;adDiv.top =documentHeight-200+calunit;
	setTimeout("showAd()",100);}else closeAd();
}
function closeAd(){
if (ie||w3)
adDiv.display="none";
else
adDiv.visibility ="hide";
}

function truebody(){
return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
}

onload=initAd;
//End-->
</script>

<script type="text/javascript">

 $(document).ready(
 function()
 {
 $("#link").click(
 function()
 {
 $("#more").toggle();
 }).toggle(function() { $(this).text('Ukryj formularz'); }, function() { $(this).text("Wpisz się"); });
 });
</script>
 
</head>
<body style="background-color: #342214;" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (Spartanska.psd) -->
<table id="Table_01" width="1024" height="1001" align=center border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="10">
			<img src="/images/Index_01.jpg" width="1024" height="206" alt=""></td>
	</tr>
	<tr>
		<td colspan="10">
			<img src="/images/Index_02.jpg" width="1024" height="30" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="/images/Index_03.jpg" width="824" height="1" alt=""></td>
		<td colspan="2" rowspan="4">
			<img src="/images/Index_04.jpg" width="200" height="31" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<img src="/images/Index_05.jpg" width="324" height="30" alt=""></td>
		<td colspan="5">
			<img src="/images/Index_06.jpg" width="405" height="1" alt=""></td>
		<td rowspan="3">
			<a href="/contact/index"><img src="/images/Index_07.jpg" width="95" height="30" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/Index_08.jpg" width="67" height="1" alt=""></td>
		<td rowspan="2">
			<a href="/newsposts/index"><img src="/images/Index_09.jpg" width="131" height="29" alt=""></a></td>
		<td rowspan="2">
			<a href="/gallery/index"><img src="/images/Index_10.jpg" width="84" height="29" alt=""></a></td>
		<td rowspan="2">
			<a href="/gbposts/index"><img src="/images/Index_11.jpg" width="123" height="29" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/about/aboutus"><img src="/images/Index_12.jpg" width="67" height="28" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="10">
			<img src="/images/Index_13.jpg" width="1024" height="61" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/images/Index_14.jpg" width="135" height="483" alt=""></td>
		<td colspan="2" style="width:217px; height: 457px; background-image:url('/images/Index_15.jpg'); background-repeat:repeat-y; text-align: center; vertical-align: top;">
		<img src="/images/Extra/BreakLine.gif" alt=""><br />
		<span style="font:16px 'Times New Roman'; color: #f5e8cb;">
		Czynne codziennie<br />
		10:00 - 21:00
		</span>
		<img src="/images/Extra/BreakLine.gif" alt=""><br />
		<span style="font:16px 'Times New Roman'; color: #f5e8cb;">
		ul. Ściegiennego 11/8<br />
		44-310 Radlin
		</span>
		<img src="/images/Extra/BreakLine.gif" alt=""><br />
		<span style="font:16px 'Times New Roman'; color: #f5e8cb;">
		Kontakt telefoniczny:<br />
		</span>
		<span style="font:20px 'Times New Roman'; color: #f5e8cb;">
		696 503 593<br />
		660 572 279
		</span>
		<br /><br /><br />
		<img src="/images/Extra/foto1.gif" alt=""><br /><br />
		<img src="/images/Extra/foto2.gif" alt=""><br /><br />
		</td>
		<td colspan="6" rowspan="2" style="width:557px; height: 483px; background-image:url('/images/Index_16.jpg');">
		<div style="height:100%; padding: 10px 30px 10px 30px; border:0; margin: 0; overflow:auto;">
			<%= yield %>
 		</div>
		</td>
		<td rowspan="2">
			<img src="/images/Index_17.jpg" width="115" height="483" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/Index_18.jpg" width="217" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="10">
			<img src="/images/Index_19.gif" width="1024" height="57" alt=""></td>
	</tr>
	<tr>
		<td colspan="10">
			<img src="/images/Index_20.jpg" width="1024" height="132" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/spacer.gif" width="135" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="189" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="28" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="39" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="131" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="84" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="123" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="95" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="85" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="115" height="1" alt=""></td>
	</tr>
</table>
</body>
</html>